@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.slick-thumb{
  
    border: 2px solid green;
    background: yellow;

    
    }
    .slick-thumb li{
      width: 50px;
      height: 50px;
      border: 2px solid red;

    } */
  

    