
.slide{
  transform: scale(0.4);
  transition: transform 300ms;
  opacity: 0.6;
  height: 5px;
} 

.activeSlide{
  transform: scale(1.4);
  opacity: 1;
}

.img{
  @apply
  md:w-56 md:h-56

  }
.arrow{
  @apply
  absolute
  cursor-pointer
  z-10
}
.next{
  @apply
  right-0
  top-2/4
}
.prev{
  @apply
  left-0
  top-2/4
}
